footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #424244;
    padding: 20px 5px 10px ;   
 }
 a:link, a:visited, a:active {
     text-decoration: none;
     }
 .nav-footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom: 5px;
 }

 .hecho-con-amor {
     color: white
 }